@charset "UTF-8";
/* Estilo de fuente */
* {
  font-family: 'lato'; }

/* Estilo para los links */
a {
  text-decoration: none;
  color: black;
  font-weight: bolder; }

/* Funcion hover de la nav */
li:hover {
  background-color: #00ff6a; }

/* Estilo etiqueta h4 */
h4 {
  font-size: 20px; }

/* Estilo etiqueta h1 */
h1 {
  color: black;
  font-size: 45px; }

header {
  background-color: aquamarine; }

/* Tamaño de la fuente del header */
.header__txt--size {
  font-size: 40px; }

/* Estilo del main */
main {
  background-color: #84eaf7; }

/* Estilo titulos del cuerpo de cada pagina */
.main__titulo--size {
  font-size: 60px; }

/* Tamaño elementos del footer */
.footer__img--size {
  width: 65px; }

/* Gradiante del footer */
.grad__footer {
  background-image: linear-gradient(to left, #00ffc8, #00b7ff); }
