/* Estilo de fuente */
* {
	font-family: 'lato';
}
/* media queri celular */
@media only screen and  (max-width: 768px){
     /*estilo para los links*/
     a{
        text-decoration: none;
        color:black;
        font-weight: bolder;
    }

    /*estilo imagen logo*/
    .img__logo{
        width: 70px;
        height: auto;
    }
    /*tamaño de textol del header*/
    .header__txt--size{
        font-size: 25px;
    }
    /*estilo de los items de navegacion*/
    .nav__item{
        display: flex;
        font-size: 10px;
        padding: 1px;
        margin: 1px;
        background-color: rgb(100, 237, 196);
    }
    /* alineacion de listas desordenada (nav) */
    ul{
        display: flex;
    }
    /* funcion hover de la nav */
    li:hover{
        background-color: grey;
    }
    /*estilo del main*/
    main{
        background-color: rgb(132, 234, 247);
    }
    /*estilo titulos del cuerpo de cada pagina*/
    .main__titulo--size{
        font-size: 20px;
    }

    /*tamaño de las imagenes de venta*/
    .items__ventas--size{
        width: 100px;
        height: auto;
        margin: 3px;
    }
    /*tamaño de las imagenes de nosotros*/
    .items__nosotros{
        width: 500px;
    }
    /*estilo etiqueta h4*/
    h4{
        font-size: 20px;
    }
    /*tamaño elementos del footer*/
    .footer__img--size{
        width: 40px;
    }
    /* declaracion de grids padres*/
    .contenedor-padre {
	    display: grid;
	    grid-template-areas:
	    "header"
	    "main"
	    "footer";
	    grid-template-columns: 100%;
	    grid-template-rows: auto auto auto;
    }
    /* declaracion de grid area y estilo header */
    header{
	    grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0px;
        background-color: rgba(153, 177, 245, 0.774);
    }
    /* declaracion de grid area main index*/
    .main-index{
	    grid-area: main;
    }
    /* declaracion de grid area footer */
    footer{
	    grid-area: footer;
        background-color: rgba(153, 177, 245, 0.774);
    }
    /* declaracion de areas de grid */
    .contenedor-index{
        display: grid;
	    grid-template-areas:
	    "logo"
        "nav"
	    "img-principal"
        "txt-titulo"
        "item-vendido1"
        "item-vendido2"
        "item-vendido3"
	    "footer";
	    grid-template-columns: 100%;
	    grid-template-rows: auto auto auto auto auto auto auto;
    }
    
    /* declaracion de grid area de logo */
    .logo{
	    grid-area: logo;
        display: flex;
        justify-content: center;
    }
    /* declaracion del gird area de la nav */
    .nav{
	    grid-area: nav;
        display: flex;
        justify-content: start;
    }
    /* declaracion del grid area del parallax del index */
    .img-principal-parallax{
        grid-area: img-principal;
        position: relative;
        background-image: url("../assets/img/jabon-lavanda.jpg");
 	    height: 600px; 

  	    background-attachment: fixed; 
  	    background-position: center; 
  	    background-repeat: no-repeat; 
  	    background-size: cover;
    }
    /* posicion de texto de bienvenida */
    .article__bienvenida{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 35px;
    } 
    /* declaracion de grid area del titulo de articulos mas vendidos */
    .txt-titulo{
        grid-area: txt-titulo;
        display: flex;
        justify-content: center;
    }
    /* declaracion de grid area del articulo mas vendido 1 */
    .item-vendido1{
        grid-area: item-vendido1;
        display: flex;
    }
    /* declaracion de grid area del articulo mas vendido 2 */
    .item-vendido2{
        grid-area: item-vendido2;
        display: flex;
    }
    /* declaracion de grid area del articulo mas vendido 3 */
    .item-vendido3{
        grid-area: item-vendido3;
        display: flex;
    }
    /* declaracion del grid area de footer */
    .footer-g{
        grid-area: footer;
        display: flex;
        justify-content: space-around;
    }
}

/* media queri desktop */
@media only screen and  (min-width: 769px){
    /*estilo para los links*/
    a{
        text-decoration: none;
        color:black;
        font-weight: bolder;
    }

    /*estilo imagen logo*/
    .img__logo{
        width: 150px;
        height: auto;
    }
    /*tamaño de textol del header*/
    .header__txt--size{
        font-size: 40px;
    }
    /*estilo de los items de navegacion*/
    .nav__item{
        display: flex;
        padding: 10px;
        margin: 10px;
        background-color: rgb(100, 237, 196);
    }
    /* alineacion de listas desordenada (nav) */
    ul{
        display: flex;
    
    }
    /* funcion hover de la nav */
    li:hover{
        background-color: grey;
    }
    /*Parallax principal*/
    .img__principal{
        position: relative;
        background-image: url("../assets/img/jabon-lavanda.jpg");
 	    height: 600px; 

  	    background-attachment: fixed; 
  	    background-position: center; 
  	    background-repeat: no-repeat; 
  	    background-size: cover; 
  	    margin-bottom:50px; 
    }
    /*estilo del main*/
    main{
        background-color: rgb(132, 247, 208);
    }
    /*estilo titulos del cuerpo de cada pagina*/
    .main__titulo--size{
        font-size: 50px;
    }

    /*tamaño de las imagenes de venta*/
    .items__ventas--size{
        width: 300px;
        height: auto;
        margin: 3px;
    }
    /*tamaño de las imagenes de nosotros*/
    .items__nosotros{
        width: 500px;
    }
    /*estilo etiqueta h4*/
    h4{
        font-size: 20px;
    }
    /*tamaño elementos del footer*/
    .footer__img--size{
        width: 65px;
    }
    /* declaracion de grids padres*/
    .contenedor-padre {
	    display: grid;
	    grid-template-areas:
	    "header header header"
	    "main main main"
	    "footer footer footer";
	    grid-template-columns: 100%;
	    grid-template-rows: auto auto auto;
    }
    /* declaracion de grid area y estilo header */
    header{
	    grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5rem;
        position: sticky;
        top: 0px;
        background-color: rgba(153, 177, 245, 0.774);
    }
    /* declaracion de grid area main index*/
    .main-index{
	    grid-area: main;
    }
    /* declaracion de grid area footer */
    footer{
	    grid-area: footer;
        background-color: rgba(153, 177, 245, 0.774);
    }
    /* declaracion de areas de grid */
    .contenedor-index{
        display: grid;
	    grid-template-areas:
	    "logo logo logo nav nav nav"
	    "img-principal img-principal img-principal img-principal img-principal img-principal"
        "txt-titulo txt-titulo txt-titulo txt-titulo txt-titulo txt-titulo"
        "item-vendido1 item-vendido1 item-vendido1 item-vendido1 item-vendido1 item-vendido1"
        "item-vendido2 item-vendido2 item-vendido2 item-vendido3 item-vendido3 item-vendido3"
	    "footer footer footer footer footer footer";
	    grid-template-columns: repeat(6, 1fr);
	    grid-template-rows: auto auto auto auto auto auto;
    }
    /* declaracion de grid area de logo */
    .logo{
	    grid-area: logo;
    }
    /* declaracion del gird area de la nav */
    .nav{
	    grid-area: nav;
    }
    /* declaracion del grid area del parallax del index */
    .img-principal-parallax{
        grid-area: img-principal;
        position: relative;
        background-image: url("../assets/img/jabon-lavanda.jpg");
 	    height: 600px; 

  	    background-attachment: fixed; 
  	    background-position: center; 
  	    background-repeat: no-repeat; 
  	    background-size: cover;
    }
    /* posicion de texto de bienvenida */
    .article__bienvenida{
        position: absolute;
        left : 830px;
        right: 150px;
        font-size: 35px;
    }   
    /* declaracion de grid area del titulo de articulos mas vendidos */
    .txt-titulo{
        grid-area: txt-titulo;
        display: flex;
        justify-content: center;
    }
    /* declaracion de grid area del articulo mas vendido 1 */
    .item-vendido1{
        grid-area: item-vendido1;
        display: flex;
        justify-content: center;
    }
    /* declaracion de grid area del articulo mas vendido 2 */
    .item-vendido2{
        grid-area: item-vendido2;
        display: flex;
    }
    /* declaracion de grid area del articulo mas vendido 3 */
    .item-vendido3{
        grid-area: item-vendido3;
        display: flex;
    }
    /* declaracion del grid area de footer */
    .footer-g{
        grid-area: footer;
        display: flex;
        justify-content: space-around;
    }
}

