@charset "UTF-8";
/* Estilo de fuente */
* {
  font-family: 'lato'; }

/* Estilo para los links */
a {
  text-decoration: none;
  color: black;
  font-weight: bolder; }

/* Funcion hover de la nav */
li:hover {
  background-color: #8462ff; }

header {
  background-color: #59c285; }

main {
  background-color: #7dc9d3; }

footer {
  background-color: #8495f7; }

.container .card, .container .card-productos, .container .card-index {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
  transition: all 0,25s; }

.container .card:hover, .container .card-productos:hover, .container .card-index:hover {
  transform: translateY(-15px); }

.container .card img, .container .card-productos img, .container .card-index img {
  width: 280px;
  height: 200px; }

h3 {
  background-color: blue;
  color: greenyellow; }

/* Tamaño de la fuente del header */
.header__txt--size {
  font-size: 40px; }

/* Estilo titulos del cuerpo de cada pagina */
.main__titulo--size {
  font-size: 60px; }

/* Estilo etiqueta h1 */
h1 {
  color: black;
  font-size: 45px; }

/* Estilo etiqueta h4 */
h4 {
  font-size: 40px; }

p {
  font-size: 20px; }

/* Tamaño elementos del footer */
.footer__img--size {
  width: 65px; }

.card-productos {
  background-color: aqua;
  width: 500px;
  height: 500px; }

.card-index {
  background-color: skyblue; }
