/* Estilo de fuente */
* {
	font-family: 'lato';
}
/* Estilo para los links */
a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
/* Funcion hover de la nav */
li:hover{
    background-color: rgb(0, 255, 106);
}
/* Estilo etiqueta h4 */
h4{
    font-size: 20px;
}
/* Estilo etiqueta h1 */
h1{
    color: black;
    font-size: 45px;
}
/* Tamaño de fuente del articulo */
.article__size{
    font-size: 35px;
}
/* Estilo del header */
header{
    background-color: aquamarine;
}
/* Tamaño de la fuente del header */
.header__txt--size{
    font-size: 40px;
}

/* Estilo del main */
main{
    background-color: rgb(132, 234, 247);
}
/* Estilo titulos del cuerpo de cada pagina */
.main__titulo--size{
    font-size: 60px;
}
/* Tamaño elementos del footer */
.footer__img--size{
    width: 65px;
}
/* Gradiante del footer */
.grad{
    background-image: linear-gradient(to left, rgb(0, 255, 200) , rgb(0, 183, 255));  
}
