/* /* Estilo de fuente */
* {
	font-family: 'lato';
}
/*estilo para los links*/
a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
/* funcion hover de la nav */
li:hover{
    background-color: grey;
}
/*estilo etiqueta h4*/
h4{
    font-size: 20px;
}
h1{
    color: black;
    font-size: 45px;
}
header{
    background-color: aquamarine;
    position: sticky;
    top: 0px;
}
/*estilo imagen logo*/
.img__logo{
    width: 150px;
}
.header__txt--size{
    font-size: 40px;
}

/* Estilo del main */
main{
    background-color: rgb(132, 234, 247);
}
/*estilo titulos del cuerpo de cada pagina*/
.main__titulo--size{
    font-size: 60px;
    text-align: center;
}
.center{
    justify-content: center;
}
/* declaracion del grid area del parallax del index */
.img-principal-parallax{
    position: relative;
    background-image: url("../assets/img/jabon-lavanda-principal.jpg");
     height: 600px; 

      background-attachment: fixed; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
}
/* posicion de texto de bienvenida */
.article__bienvenida{
    position: absolute;
    left : 830px;
    right: 150px;
    font-size: 35px;
} 
/* posicion de texto de bienvenida */
.article__bienvenida--size{

}
    /*tamaño de las imagenes de venta*/
    .items__ventas--size{
        width: 100px;
        height: auto;
        margin: 3px;
    }
    /*tamaño de las imagenes de nosotros*/
    .items__nosotros{
        width: 500px;
    }

    /* declaracion de grid area footer */
    footer{
        background-color: rgba(153, 177, 245, 0.774);
    }
    /*tamaño de las imagenes de venta*/
    .items__ventas--size{
        width: 300px;
        height: auto;
        margin: 3px;
    }
    /*tamaño de las imagenes de nosotros*/
    .items__nosotros{
        width: 500px;
    }
    /*tamaño elementos del footer*/
    .footer__img--size{
        width: 65px;
    }
    .grad{
        background-image: linear-gradient(to left, red , yellow);  
    }
