/* Estilo de fuente */
* {
	font-family: 'lato';
}
/* Estilo para los links */
a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
/* Funcion hover de la nav */
li:hover{
    background-color: rgb(132, 98, 255);
}

$backgroundcolor:(
    header: rgb(89, 194, 133),
    main: rgb(125, 201, 211),
    footer: rgb(132, 149, 247)
);
@each $ubi, $color in $backgroundcolor {
    #{$ubi}{
    background-color: $color;
    }
}

$fuentes:(
    fuenteS: 20px,
    fuenteM: 40px,
    fuenteL: 45px,
    fuenteX: 60px
);

.container .card{
    width: 300px;
    height: 400px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    transition: all 0,25s;
}

.container .card:hover{
    transform: translateY(-15px);
}

.container .card img{
    width: 280px;
    height: 200px;
}

@mixin back-color($back, $color){
    background-color: $back;
    color: $color
}

h3{
    @include back-color(blue, greenyellow)
}