<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Florbel Nosotros</title>
        <!-- linkeo de fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">  
        <!-- Linkeo de css -->
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <header>
            <!-- Logo -->
            <div>
                <a href="../index.html">
                    <img src="../assets/img/logo.jpg" alt="logo" class="img__logo">
                </a>
                <a href="../index.html" class="header__txt--size">FlorBel</a>
            </div>
            <!-- Navegavilidad de mi sitio web -->
            <nav>
                <ul>
                    <li class="nav__item"><a href="../index.html">INICIO</a></li>
                    <li class="nav__item"><a href="nosotros.html">NOSOTROS</a></li>
                    <li class="nav__item"><a href="productos.html">PRODUCTOS</a></li>
                    <li class="nav__item"><a href="cuidados.html">CUIDADOS</a></li>
                    <li class="nav__item"><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Descripcion de la empresa -->
            <article>
                <h2 class="main__titulo--size">¡HOLA! Somos FlorBel</h2>
                <p>FlorBel es un emprendimiento familiar que surgio hace algunos años con la idea de hacer jabones artesanales y hoy hacemos productos para el cuidado de la piel y el higiene y cuidado de nuestro entorno siempre pensando en la ecologia y lo natural.</p>
                <!-- Imagen de la empresa -->
                <img src="../assets/img/nosotros.jpg" alt="Nosotros" class="items__nosotros">
            </article>
        </main>
        <footer>
            <!-- Redes sociales -->
            <div>
                <a href="https://www.instagram.com/florbel01/" target="_blank" >
                    <img src="../assets/img/instagram-logo.png" alt="logo_instagram" class="footer__img--size">
                </a>
                <a href="https://www.facebook.com/profile.php?id=100074966405015" target="_blank">
                    <img src="../assets/img/facebook-logo.png" alt="logo_facebook" class="footer__img--size">
                </a>
                <img src="../assets/img/gmail-logo.png" alt="logo-gmail" class="footer__img--size">
                <img src="../assets/img/whatsapp_logo.png" alt="logo-whatsapp" class="footer__img--size">
            </div>
        </footer>
    </body>
</html>