<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Florbel Nosotros</title>
        <!-- linkeo de fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> 
        <!-- Linkeo de css boostrap  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> 
        <!-- Linkeo de css -->
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <div class="container-fluid">
            <header class="row">
                <!-- Logo -->
                <div class="col-lg-4 col-12 d-flex p-2 bd-highlight justify-content-center">
                    <a href="../index.html">
                        <img src="../assets/img/logo.png" alt="Logo" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-5 d-flex p-2 bd-highlight justify-content-center">
                    <h4 class="header__txt--size">FlorBel</h4>
                </div>
                <!-- Navegavilidad del sitio web -->
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="../index.html">Index <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="cuidados.html">Cuidados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                          </li>
                      </ul>
                    </div>
                </nav>
            </header>
            <main class="row d-flex flex-wrap">
                <!-- buscador de productos -->
                <input type="text" name="busqueda" placeholder="¿Que estas buscando?"><br>
                <!-- Imagen titulo de la lista de paks de los productos -->
                <div class="col-lg-12 col-12">
                    <img src="../assets/img/caja-pack1.jpg" alt="articulo 1" class="d-block w-100">
                </div>
                <!-- Titulo de la lista de paks de los productos -->
                <div class="col-lg-12 col-12 d-flex p-2 bd-highlight justify-content-center">
                <h2 class="main__titulo--size ">Paks</h2>
                </div>
                <!-- listado de packs -->
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/caja-pack1.jpg" alt="pack 1" class="img-fluid">
                    <section>
                        <!-- nombre del pack-->
                        <h4>Pack 5</h4>
                        <!-- breve descripcion del pack-->
                        <p>
                            Llevate 5 jabones y paga solo 4
                        </p>
                        <!-- Precio del pack -->
                        <h5>$480</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/caja-pack1.jpg" alt="pack 2" class="img-fluid">
                    <section>
                        <!-- nombre del pack-->
                        <h4>Pack 6</h4>
                        <!-- breve descripcion del pack-->
                        <p>
                            Llevate 6 jabones y paga solo 4
                        </p>
                        <!-- Precio del pack -->
                        <h5>$480</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/caja-pack1.jpg" alt="pack 3" class="img-fluid">
                    <section>
                        <!-- nombre del pack-->
                        <h4>Pack 6 Ultra</h4>
                        <!-- breve descripcion del pack-->
                        <p>
                            Lleveate 6 jabones a tu eleccion y paga 5
                        </p>
                        <!-- Precio del pack -->
                        <h5>$600</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/caja-pack1.jpg" alt="pack 4" class="img-fluid">
                    <section>
                        <!-- nombre del pack-->
                        <h4>Pack 6 Mega</h4>
                        <!-- breve descripcion del pack-->
                        <p>
                            Llevate 6 jabones del mimsmo tipo y paga 3
                        </p>
                        <!-- Precio del pack -->
                        <h5>$360</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/caja-pack1.jpg" alt="pack 5" class="img-fluid">
                    <section>
                        <!-- nombre del pack-->
                        <h4>Pack 6 Estelar</h4>
                        <!-- breve descripcion del pack-->
                        <p>
                            Lleva 6 jabones con 2 a eleccion y paga 3
                        </p>
                        <!-- Precio del pack -->
                        <h5>$360</h5>
                </div>
                <!-- Imagen titulo de la lista de Jabones de los productos -->
                <div class="col-lg-12 col-12">
                    <img src="../assets/img/jabon-lavanda-principal.jpg" alt="articulo 1" class="d-block w-100">
                </div>
                <!-- Titulo de la lista de Jabones de los productos -->
                <div class="col-lg-12 col-12 d-flex p-2 bd-highlight justify-content-center">
                <h2 class="main__titulo--size ">Jabones</h2>
                </div>
                <!-- listado de jabones -->
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-aloe.jpg" alt="jabon-aloe" class="img-fluid">
                    <section>
                        <!-- nombre del pack-->
                        <h4>Jabon Aloe</h4>
                        <!-- breve descripcion del pack-->
                        <p>
                            Ayuda a la restauracion y regeneracion de la piel.
                        </p>
                        <!-- Precio del pack -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-rosas2.jpg" alt="jabon-rosas2" class="img-fluid">
                    <section>
                        <!-- nombre del pack-->
                        <h4>Jabon de Rosas</h4>
                        <!-- breve descripcion del pack-->
                        <p>
                            Jabón de rosas para pieles sencibles, mantiene tu piel suave.
                        </p>
                        <!-- Precio del pack -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-avenaymiel.jpg" alt="jabon-avenaymiel" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabón de Avena y Miel</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            Hidrata y deja tu piel suave, ademas tiene un aroma exquisito. 
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-brisamarina.jpg" alt="jabon-brisamarina" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabón de Brisa Marina</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            Con un a apareciencia única! un aroma que transporta.
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-calendula.jpg" alt="jabon-calendula" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabón de calendula</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            Jabón con propiedades cicatrizantes, anticepticas y antiflamatorias.
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-canelacafe.jpg" alt="jabon-canelacafe" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabón de Canela y Café</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            ¿Sos amante del café como yo? Nada mejor que una exfoliación que te deje un suave aroma a café!
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-carbonactivado.jpg" alt="jabon-carbonactivado" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabón de Carbon activado</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            Jabón con propiedades antioxidates.
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-coco.jpg" alt="jabon-coco" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabón de Coco</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            Exelente para nutrir e hidratar tu piel, ademas es apto para todo tipo de piel.
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-lavanda.jpg" alt="jabon-lavanda" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabón de Lavanda</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            Jabón con propiedades relajates para nunca dejar de mimar tu piel.
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
                <div class="col-lg-3 col-6 d-flex flex-column p-2 bd-highlight justify-content-center">
                    <img src="../assets/img/jabon-romero.jpg" alt="jabon-romero" class="img-fluid">
                    <section>
                        <!-- nombre del articulo mas vendido -->
                        <h4>Jabon de Romero</h4>
                        <!-- breve descripcion del articulo -->
                        <p>
                            Nada más fresco que el aroma a romero, y en version exclusiva.
                        </p>
                        <!-- precio del jabon -->
                        <h5>$120</h5>
                    </section>
                </div>
            </main>
            <footer class="row grad">
                <!-- Redes sociales -->
                <div class="col-lg-3 col-3">
                    <a href="https://www.instagram.com/florbel01/" target="_blank" >
                        <img src="../assets/img/instagram-logo.png" alt="logo_instagram" class="footer__img--size">
                    </a>
                </div>
                <div class="col-lg-3 col-3">
                    <a href="https://www.facebook.com/profile.php?id=100074966405015" target="_blank">
                        <img src="../assets/img/facebook-logo.png" alt="logo_facebook" class="footer__img--size">
                    </a>
                </div>
                <div class="col-lg-3 col-3">
                    <img src="../assets/img/gmail-logo.png" alt="logo-gmail" class="footer__img--size">
                </div>
                <div class="col-lg-3 col-3">
                    <img src="../assets/img/whatsapp_logo.png" alt="logo-whatsapp" class="footer__img--size">
                </div>
            </footer>
        </div>
        <!-- Linkeo de JS de boostrap -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>