<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Florbel Producto</title>
        <!-- linkeo de fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">  
        <!-- Linkeo de css -->
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <header>
            <!-- Logo -->
            <div>
                <a href="../index.html">
                    <img src="../assets/img/logo.jpg" alt="logo" class="img__logo">
                </a>
                <a href="../index.html" class="header__txt--size">FlorBel</a>
            </div>
            <!-- Navegavilidad de mi sitio web -->
            <nav>
                <ul>
                    <li class="nav__item"><a href="../index.html">INICIO</a></li>
                    <li class="nav__item"><a href="nosotros.html">NOSOTROS</a></li>
                    <li class="nav__item"><a href="productos.html">PRODUCTOS</a></li>
                    <li class="nav__item"><a href="cuidados.html">CUIDADOS</a></li>
                    <li class="nav__item"><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- buscador de productos -->
            <input type="text" name="busqueda" placeholder="¿Que estas buscando?"><br>
            <!-- Imagen y titulo de la lista de paks de los productos -->
            <div class="img__productos">
                <h2 class="main__titulo--size producto__title">Paks</h2>
            </div>
            <!-- listado de packs -->
            <div>
                <img src="../assets/img/caja-pack1.jpg" alt="pack 1" class="items__ventas--size">
                <section>
                    <!-- nombre del pack-->
                    <h4>Pack 5</h4>
                    <!-- breve descripcion del pack-->
                    <p>
                        Llevate 5 jabones y paga solo 4
                    </p>
                    <!-- Precio del pack -->
                    <h5>$480</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/caja-pack2.jpg" alt="pack 2" class="items__ventas--size">
                <section>
                    <!-- nombre del pack-->
                    <h4>pack 6</h4>
                    <!-- breve descripcion del pack-->
                    <p>
                        Llevate 6 jabones y paga 4
                    </p>
                    <!-- Precio del pack -->
                    <h5>$480</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/caja-pack3.jpg" alt="pack 3" class="items__ventas--size">
                <section>
                    <!-- nombre del pack-->
                    <h4>pack 6 ultra</h4>
                    <!-- breve descripcion del pack-->
                    <p>
                        Lleveate 6 jabones a tu eleccion y paga 5
                    </p>
                    <!-- Precio del pack -->
                    <h5>$600</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/caja-pack4.jpg" alt="pack 4" class="items__ventas--size">
                <section>
                    <!-- nombre del pack-->
                    <h4>Pack 6 Mega</h4>
                    <!-- breve descripcion del pack-->
                    <p>
                        Llevate 6 jabones del mimsmo tipo y paga 3
                    </p>
                    <!-- Precio del pack -->
                    <h5>$360</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/caja-pack5.jpg" alt="pack 5" class="items__ventas--size">
                <section>
                    <!-- nombre del pack-->
                    <h4>pack 6 Estelar</h4>
                    <!-- breve descripcion del pack-->
                    <p>
                        Lleva 6 jabones con 2 a eleccion y paga 3
                    </p>
                    <!-- Precio del pack -->
                    <h5>$360</h5>
                </section>
            </div>
            <!-- Imagen y titulo de la lista de jabones de los productos --> 
            <div class="img__productos">
                <h2 class="main__titulo--size producto__title">Jabones</h2>
            </div>
            <!-- Listado de Jabones -->
            <div>
                <img src="../assets/img/jabon-rosas2.jpg" alt="articulo 1" class="items__ventas--size">
                <section>
                    <!-- nombre del jabon -->
                    <h4>Jabón de Rosas</h4>
                    <!-- breve descripcion del jabon -->
                    <p>
                        Jabón de rosas para pieles sencibles, mantiene tu piel suave.
                    </p>
                    <!-- Precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-aloe.jpg" alt="jabon 2" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de aloe</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Ayuda a la restauracion y regeneracion de la piel.
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-avenaymiel.jpg" alt="jabon 3" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de Avena y Miel</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Hidrata y deja tu piel suave, ademas tiene un aroma exquisito. 
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-brisamarina.jpg" alt="jabon 4" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de Brisa Marina</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Con un a apareciencia única! un aroma que transporta.
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-calendula.jpg" alt="jabon 5" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de calendula</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Jabón con propiedades cicatrizantes, anticepticas y antiflamatorias.
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-canelacafe.jpg" alt="jabon 6" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de Canela y Café</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        ¿Sos amante del café como yo? Nada mejor que una exfoliación que te deje un suave aroma a café!
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-carbonactivado.jpg" alt="jabon 7" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de Carbon activado</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Jabón con propiedades antioxidates.
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-coco.jpg" alt="jabon 8" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de Coco</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Exelente para nutrir e hidratar tu piel, ademas es apto para todo tipo de piel.
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-lavanda.jpg" alt="jabon 8" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabón de Lavanda</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Jabón con propiedades relajates para nunca dejar de mimar tu piel.
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
            <div>
                <img src="../assets/img/jabon-romero.jpg" alt="jabon 8" class="items__ventas--size">
                <section>
                    <!-- nombre del articulo mas vendido -->
                    <h4>Jabon de Romero</h4>
                    <!-- breve descripcion del articulo -->
                    <p>
                        Nada más fresco que el aroma a romero, y en version exclusiva.
                    </p>
                    <!-- precio del jabon -->
                    <h5>$120</h5>
                </section>
            </div>
        </main>
        <footer>
            <!-- redes sociales -->
            <div>
                <a href="https://www.instagram.com/florbel01/" target="_blank" >
                    <img src="../assets/img/instagram-logo.png" alt="logo_instagram" class="footer__img--size">
                </a>
                <a href="https://www.facebook.com/profile.php?id=100074966405015" target="_blank">
                    <img src="../assets/img/facebook-logo.png" alt="logo_facebook" class="footer__img--size">
                </a>
                <img src="../assets/img/gmail-logo.png" alt="logo-gmail" class="footer__img--size">
                <img src="../assets/img/whatsapp_logo.png" alt="logo-whatsapp" class="footer__img--size">
            </div>
        </footer>
    </body>
</html>